/* Cuadro nombre Pokemons */
.texto{
	border: solid 2px orange;
	border-radius: 5px;
	background: gray;
	color: white;
}
/* Cuadro de pokemons */
.cuadro{
	border: solid 2px orange;
}
/* Imagen del Pokemon */
img{
	width: 200px;
	height: 200px;
}
/* Fondo */
body{
	background-image:url("../img/fondo.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/* Titulo "Pokedex" */
.titulo{
	color: white;
	font-family: Broadway;
	font-size: 40px;
	border: solid 2px black;
	background-color: gray;
	border-radius: 50%;
}
.regis{
	font-family: Broadway;
	background-color: #0E2A7B;
	color:white;
}
.datos{
	background-color: gray;
	opacity: 0.7;
	border: solid 2px black;
}
.form{
	font-family:Times New Roman;
	font-size: 20px;
	color: white;
	margin: 12px;
}
.registro{
	font-size: 20px;
}
.campo{
	color: black;
}
.link{
	border: solid 2px black;
	background-color: white;
	color: black;
	font-size: 23px;
}